:root {
    /* CSS Variables */
    --background-color: #181818;
    --foreground-color: #202020;
    --top-color: #4d4d4d;
    --header-color: #202020;
    --text-primary: #ffffff;
    --text-secondary: rgba(255, 255, 255, 0.7);
    --text-disabled: rgba(255, 255, 255, 0.5);
  
    --border-radius: 5px;
    --default-padding: 15px;
    --default-margin: 15px;
    --default-column-width: 30rem;
  
    --primary-color: #0050dd;
    --secondary-color: #1d6efc;
    --gradient: linear-gradient(
      90deg,
      rgba(68, 136, 255, 1) 0%,
      rgba(1, 47, 120, 1) 100%
    );


    --dark-green: #4B8063;
  
    --error-color: #d32f2f;
    --success-color: green;
    --warning-color: #ffb74d;
  
    --default-transition: 0.5s;
  
    /* background-color: var(--background-color);
    color: var(--text-primary); */
  }